.descricaoPage{
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.qtdeCargo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.qtdeCargo p{
    color: white;
}

.lista{
    display: grid;
    margin: 10px 0;
    gap: 10px;
    
}

.linha{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 4rem;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    background-color: white;

}

.linha:hover{
    scale: 1.01;
}

.text{
    color: var(--background);
    font-weight: bold;
    font-size: 1.5rem;
}

.nomeText{
    width: 12rem;
}


.containerLogo{
    display: flex;
    background-color: #6b418d54;
    border-radius: 5px;
    padding: 5px;
    justify-content: end;
    width: 100%;
}

.logo{
    width: 200px;
    height: 40px;
}