.containerProduto{ 
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 15px;
  height: 600px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
  overflow-x: hidden;
  top: -5px;
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  animation: growDown 1s forwards; /* Animação de crescimento */
}
  
.Produto {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  padding: 20px;
  width: 90%;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
}


.Produto.slide-left {
  animation: slideInFromLeft 0.5s ease;
}

.Produto.slide-right {
  animation: slideInFromRight 0.5s ease;
}

.descricao{
  font-size: 1.3rem;
  text-align: start;
}

.sobreProduto{
  display: grid;
  justify-content: center;
  grid-template-rows: minmax(400px) 80px 100px 100px;
  gap: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column1{
  display: grid;
  gap: 5px;
  justify-content: start;
}

.fiealdCod{
  color:var(--background);
  font-size: 1.2rem;
  padding: 5px 20px;
  border-radius: 5px;  
  border: 2px solid var(--background);
  justify-self: start;
  align-self: center;
}

.infoProd{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.column2{
  display: grid;
  gap: 5px;
  

}
.precoCor{
  flex-wrap: wrap;
  margin: 0 auto;
}

.preco{
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--background);
  align-self: center;
  justify-self: start;
}

.cor{
  font-size: 1.5rem;
  font-weight: 800;
  font-size: 1rem;
  align-self: flex-start;
  justify-self: start;
}

.cor span{
  font-weight: 200;
  font-size: 1.2rem;

}
.Produto h1, span,button{
  color: var(--background);
  line-height:2rem;
}
  
.imgProduto{
    max-height:450px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    background-color: #d4e0ee;
}



.provador{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
}

.provador span b{
  color: black;
}

.addcarrinho{
  background-color: var(--background);
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  align-self: flex-end;
  border: 2px solid var(--background);
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}


.addcarrinho:hover{
  background: var(--background);
  color: #fff;
}

.carrinhGrade{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
}


.buttonsProduto{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  align-self: flex-start; 
}

.buttonsProduto > button{
  border: 2px solid var(--background);
    width: 4rem;
    height: 3rem;
    background-color: white;
    cursor: pointer;
}

  @keyframes growDown {
    0% {
      height: 0;
    }
    100% {
      min-height: 600px;
      opacity: 1;
    }
  }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
  
@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}