
.containerProduto{ 
  display: flex;
  flex-wrap: wrap;
  max-height: 60vh;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
  overflow-x: hidden;
  top: -5px;
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  animation: growDown 0.5s ease forwards; /* Animação de crescimento */
  
}
  
.Produto {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  padding: 20px;
  width: 75%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.Produto.slide-left {
  animation: slideInFromLeft 0.5s ease;
}

.Produto.slide-right {
  animation: slideInFromRight 0.5s ease;
}

.sobreProduto{
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.descricao{
  font-size: 1rem; 
}

.fiealdCod{
  color:var(--background);
  background-color: #f7f8f8;
  font-size: 1.2rem;
  align-self: center;
  padding: 15px 20px;
  border-radius: 5px;  
  border: 2px solid var(--background);
  justify-self: center;

}
.qtdCorPreco{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.precoCor{
  display: flex;
  flex-direction: column;
  text-align: start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.preco{
  font-weight: 600;
  font-size: 1.2rem;
}

.cor{
  font-weight: 800;
  font-size: 1rem;
}

.cor span{
  font-weight: 200;
}
.Produto h1, span,button{
  color: var(--background);
  line-height:2rem;
}
  
.imgProduto{
    min-height:80;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    background-color: #d4e0ee;
}

.footerProduto{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.provador{
  display: flex;
  justify-content: space-around;
}
.footerProduto p{
  font-weight: 600;
  color: var(--background);
}

.addcarrinho{
  background-color: #fff;
  width: 180px;
  align-self: flex-end;
  border: 2px solid var(--background);
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}


.addcarrinho:hover{
  background: var(--background);
  color: #fff;
}

.carrinhGrade{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
}


.buttonsProduto{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  align-self: flex-start; 
}

.buttonsProduto > button{
  border: 2px solid var(--background);
    width: 4rem;
    height: 3rem;
    background-color: white;
    cursor: pointer;
}

  @keyframes growDown {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 70vh;
      opacity: 1;
    }
  }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
  
@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width:1120px) {
  .Produto{
    margin-top: 1rem;
    grid-template-columns: 1fr;
    width: 90%;
  }
  .imgProduto{
    height: 40vh;
    object-fit: contain;
    background-color: #fff;
  }

  .containerProduto{
    max-height: 100vh;
  }
  
}