.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 19rem;
    padding: 10px;
    position: fixed;
    top: 40px;
    right: 20px;
    font-weight: bold;
    animation: ativa 500ms forwards;
    border-radius: 4px;
    color:black;
    z-index: 99999;
}

@keyframes ativa {
    from {
        opacity: 0;
        transform: translateX(600px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }

  }