.main{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    height: 100vh;
    background-color: #bdbdbd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #261738;
}
.container1-garb{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main-paragrafo-boas-vindas{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color:#261738;
    color: #fff;
    width: 90%;
    max-height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #261738 ;
    border: none;
}
.container1-garb form{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    gap: 15px;
}
.input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #bdbdbd;
    border: #261738 1.5px solid;
  }
  
  input:focus {
    border-color: #261738;
  }
  
  input:focus + label,
  input + label {
    top: -5px;
    left: 0px;
    font-size: 12px;
    color: #261738;
    background-color:#bdbdbd;
    padding: 0 5px;
  }
  
  label {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 16px;
    color: #261738;
    transition: 0.3s ease;
    pointer-events: none;
    background-color: transparent;
  }
  .btn-home{
    display: flex;
    align-self: flex-end;
    padding: 10px 35px;
    background-color: #261738;
    color: #fff;
    border-radius: 5px;
    border: none;
  }