.logoRoxo{
    position: absolute;
    top: 0%;
    left: 50%; /* Alinhado ao início */
    transform: translate(-50%,-50%);
    max-height: 100%;
    z-index: 1;
    animation: animaLogo 1000ms ease-in forwards;
}

@keyframes animaLogo {
    0%{
        top: -50%; /* Inicia fora da tela, à esquerda */
    }

    100%{
        top: 50%; /* Move-se para o centro da tela */
    }
}
#animacaoAtiva{
    position: absolute;
    top: 0%;
    left: 50%; /* Alinhado ao início */
    transform: translate(-50%,-50%);
    height: 350px;
    z-index: 1;
    animation: animaLogo2 1000ms ease-in forwards;
}
    @keyframes animaLogo2 {
        0%{
            top: 50%; /* Inicia fora da tela, à esquerda */
        }
    
        100%{
            top: -50%; /* Move-se para o centro da tela */
        }
    }