.home{
   
}
#efeitoSaidaVIdeo{
    animation: animacaoVideo linear 500ms forwards;
}
@keyframes animacaoVideo {
  to{
    opacity: 0%;
  }
}
.background-video {
 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
   height:100vh;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Para cobrir todo o elemento pai */
    
  }
  
  