.containerModal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0px;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #0000003a;
    z-index: 200;
    position: fixed;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 900px;
    border-radius: 5px;
    z-index: 11;
    background-color: var(--background);
    transition: 0.5s;
    animation: forwards show-opacity 0.3s;
}

@keyframes show-opacity {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 100%;
      transform: initial;
    }

  }

.containerModal p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}
.containerModal strong {

    color: var(--background);
    
}

.containerModal p span{
    position: fixed;
    top: -10px;
    right:  -10px;
    background-color: red;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #fff;
    z-index: 999;

    cursor: pointer;
    
}

.containerPedidoHeader{
    display: flex;
    height: 90px;
    width: 90%;
    margin-top: 25px;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 5px;
    color: var(--background);
}

.containerPedidoHeader p{
    font-weight: 800;
    color: var(--background);
}
.hr{
    display: flex;
    width: 90%;
    margin-top: 10px;
}


.fragmentacao{
    background-color: red;
}

.containerSection{
    display: flex;
    flex-wrap: wrap;
    
    gap: 100px;
}
.containerContent{
    display: flex;
    justify-content: space-between;
}
.produtoListado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    width: 500px;
    height: 100px;
}
.produtoListado div p{
    text-align: center;
    color: var(--background);
}
.produtoListado div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDetalhe{
    height: 350px;
    border-radius: 5px;
    max-width: 350px;
    background-color: #fff;
    color: var(--background);
}
.containerDetalhe h3{
    padding: 15px;
    color: var(--background);
}

.hrDetalhes{
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7;
  
}
.image{
    height:100% ;
    
}

.statusPedido{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    z-index: 222;
}
.statusPedido p{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--background);

}

.statusPedido .LinhaTempo{
    position: fixed;
    width: 250px;
    border: none;
    padding: 3px;
    background-color: var(--background);
}

.containerDetalhe span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--background);
    font-size: 
    0.9rem;
  
    padding: 15px;
}
.containerContent .frete, .containerContent .CodRAstreio{
    margin-top: 10px;
color: var(--background);
font-size: 1rem;
 display: flex;
 align-items: start;
 flex-direction: row;
 padding:  5px 25px;
}