.mainHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Garante que o logo seja posicionado em relação ao contêiner */
}

.videoContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.HomeGIF {
    max-width: 100%;
}

.homelogo {
    z-index: 11;
    position: relative; /* Torna a posição do logo relativa para permitir animações */
    animation: moveLogoCenter 3s ease forwards;
    height: 900px;
    width: 900px;
}

.animacaoAtiva{
    animation: moveLogoCUP 3s ease forwards;

}
.manAnimation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
    animation: opacityBackground 2s ease forwards;
}

@keyframes moveLogoCenter {
    from {
        transform: translateY(-100%); /* Começa fora da tela, acima */
    }
    to {
        transform: translateY(0%); /* Finaliza no centro da tela */
    }
}
@keyframes moveLogoCUP {
    from {
        transform: translateY(0%); /* Começa fora da tela, acima */
    }
    to {
        transform: translateY(-100%); /* Finaliza no centro da tela */
    }
}


@keyframes opacityBackground {
    from {
        opacity: 100;
    }
    to {
        opacity:0;
    }
}