.containerLogos{
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    /* background-color: var(--background); */
    background: rgba(0, 0, 0, 0.199);
    filter: drop-shadow(0 0 0.15rem rgb(0, 0, 0));
}

.logos{
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logoImg{
    height: 100%;
    width: 12rem;
}

.nav{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.imgBtn{
    width: 4rem;
}

.btn{
    display: flex;
    height: 4rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
}

.btnAtivo{
    display: flex;
    height: 4rem;
    width: 5.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    background-color: var(--background);
    transition: 0.3s;
}



@media (max-width: 460px) {
    .logoImg{
        height: 100%;
        width: 7rem;
    }

}