.contentHeroPage{
    height: 100vh;

    animation: opacityBackgroundHeroPage 100ms ease forwards;
}


@keyframes opacityBackgroundHeroPage {
    from {
        opacity: 0;
    }
    to {
        opacity:100;
    }
}