.Main{
display: flex;
justify-content: start;    
flex-direction: column;
height: 100VH;
}
.menuModal{
    display: flex;
    width: 1500px;
    padding-top: 50px;
    justify-content: space-around;
    margin: 0 auto;
}
.iconMainsvg {
    width: 100px; /* Ajuste a largura do SVG */
    height: 100px; /* Ajuste a altura do SVG */
    fill: white;
    transition: fill 0.3s ease;

}
.iconMainsvg2 {
    width: 100px; /* Ajuste a largura do SVG */
    height: 100px; /* Ajuste a altura do SVG */
    background-color: var(--background);
    transition: fill 0.3s ease;
    border-radius: 15px 15px 0 0;
    
    
}
.menuModal div{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 190px;
    width: 170px;
    border: none;   
    
    

}
.iconActive{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    
    width: 150px;

}
