.container{
    display: flex;
    flex-direction: column;
    min-height: 30vh; 
    max-width: 1080px;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
    filter: drop-shadow(0 0 0.15rem rgb(71, 71, 71));
}