.sleep-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com opacidade */
  z-index: 9999; /* Alta prioridade para estar na frente de todos os elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  transform: translateY(-100%); /* Começa fora da tela (em cima) */
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.5s ease-in-out;
}

.sleep-screen.visible {
  opacity: 1; /* Torna a div visível */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Começa fora da tela (em cima) */
  }
  to {
    transform: translateY(0); /* Move a div para sua posição padrão (tela cheia) */
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0); /* Posição padrão */
  }
  to {
    transform: translateY(-100%); /* Sobe para fora da tela (em cima) */
  }
}

.sleep-screen.slideDown {
  animation: slideDown 0.5s ease-in-out forwards; /* Animação de entrada (descer) */
}

.sleep-screen.slideUp {
  animation: slideUp 0.5s ease-in-out forwards; /* Animação de saída (subir) */
}
