.sleep-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-100%);
  transition: transform 0.9s ease-in-out;
}

.sleep-screen.visible {
  opacity: 1;
}

.video-screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoScreen {
  position: absolute;
  height: 20vh;
  z-index: 9999;
  transition: transform 0.1s ease-in-out;

}

.sleep-screen.slideDown {
  transform: translateY(0);
}

.sleep-screen.slideUp {
  transform: translateY(-100%);
}
