.sleep-screen {
    position: fixed;
    top: -100%; /* Começa fora da tela */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: transform 0.5s ease;
    z-index: 9999; /* Alta prioridade para estar na frente de tudo */
    transform: translateY(-100%);
  }
  
  .sleep-screen.animate {
    transform: translateY(0); /* Animação de descida */
  }
  