.voltarContainer{
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.voltarBtn{
    display: flex;
    border: 2px solid;
    width: 3rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.voltarBtn:active{
    scale: 1.2;
}